@charset "utf-8";
/**{
    border-width: 2px;
    border-color: red;
    border-style: solid;
    margin: 0.5%;
} */
html{
    margin:0 auto ;
    width: 40%;
    max-width: 1610px;
    min-width:1000px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1120px;
}

body > header {
	margin: 10px;
	width: 96%;
	overflow: hidden;
}
body > nav {
	width: 20%;
	float: left;
}
aside.Publicidad {
	width: 20%;
    float:left;	
    
	margin: 0 0 0 0.5%;
}
#Contenido{
    width: 70%;
    float: left;    
	margin: 0 4% 0 4%;
}

footer {
	width: 100%;
	clear: left;
}