@charset "utf-8";



html {  
      background-color: #FE5F55;
     }  

body {  
     
      background-color: #EEF5DB; 
    }
/*Contenido estilos*/
section#Contenido h1{
  color:#333745;
  background-color:#C7EFCF;
  text-align: center; 
  letter-spacing: 0.5em;
 
}

section#Contenido p{
  text-indent: 20px;
  text-align: justify;
  white-space:normal;
  font-style: italic;
}


/*aqui estoy tomando las etiquetas de la clase aside todas las h1*/

aside.Publicidad  h1 {
  color:#333745;
  background-color:#C7EFCF;
 
}

aside.Publicidad1  h1 {
  color:#333745;
  background-color:#C7EFCF;
}

aside.Publicidad p{
  text-align: justify;
}
/*Selector de selectores*/
aside.Publicidad ul li a{
  font-family: 'Times New Roman', Times, serif
}
aside.Publicidad ul li {
  list-style: none;
  text-align: left;
  font-size: 1.1em;
}
/*Borde ovalado*/
aside.Publicidad  {
  border-radius: 20px;
  border: 1px solid #333745;
  background-color: #EEF5DB;
  
}/*Selector de etiqueta*/

/* Aside de publicidad */
aside.Publicidad1 p {
  text-align: justify;
  letter-spacing: 0.1em;
}
footer{
  color:black;
  background-color: sandybrown;
  text-align: center;
}

/*tres etiquetas personalizadas*/

section#Contenido article h2{
  color: #e63462;;
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  word-spacing: 0.5em;
}
/*pseudoclases*/
a:link{
  color:#333745;
  font-weight: bold;

}
a:visited{
  color:#e63462;
  
}
a:hover{
  background: yellow;
  color: black;
}
a:active{
  background: #007805;
  color: yellow
}
/*centrar la imagen*/
header img{
  display: block;
  margin: auto;
  width: 1004px;
  height: 400px;
}

section#Contenido p:first-letter{
  content: "\21C";
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;

}
aside.Publicidad1 p:before { 
  content: "\201C"; /* inicio comilla */
  font-family: Georgia;
  font-size:25px; /* tamaño */
  font-weight: bold; line-height:0px;
  vertical-align:middle;
  }
aside.Publicidad1 p:after{
  content: "\201D";
  font-family: Georgia;
  font-size: 25px;
  font-weight: bold;
  line-height: 0px;
  vertical-align: middle;
  padding-top: 10px;
}


/*
donde esta.nombredeclase dentrodelaclase{
    color:red
}
*/