@charset "utf-8";

html {  
      background-color: hsl(27, 72%, 72%);
     }  

body {  
     
      background-color: ivory; 
    }
/*Contenido estilos*/
section#Contenido h1{
  color:black;
  background-color:cornflowerblue;
}

section#Contenido p{
  text-align: justify;
}


/*aqui estoy tomando las etiquetas de la clase aside todas las h1*/

aside.Publicidad  h1 {
  color:black;
  background-color: salmon;
}

aside.Publicidad p{
  text-align: justify;
}
/*Selector de selectores*/
aside.Publicidad ul li a{
  color: green;
}

aside.Publicidad ul li {
  list-style: none;
  text-align: left;
  font-size: 1.1em;
}
/*Borde ovalado*/

aside.Publicidad  {
  border-radius: 20px;
  border: 1px solid black;
  background-color: blanchedalmond;
}
/*Selector de etiqueta*/

/* Aside de publicidad */
aside.Publicidad1 p {
  text-align: justify;
}

footer{
  color:black;
  background-color: blueviolet;
  text-align: center;
}

/*Otro aside*/


/*
donde esta.nombredeclase dentrodelaclase{
    color:red
}
*/