@charset "utf-8";
/**{
    border-width: 2px;
    border-color: red;
    border-style: solid;
    margin: 0.5%;
} */
html{
    margin:0 auto ;
    width: 40%;
    max-width: 1010px;
    min-width: 700px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1220px;
    min-width: 740px;
}

body > header {
	margin: 0;
	width: 100%;
	overflow: hidden;
}

body > nav {
	width: 20%;
	float: left;
	
}


aside.Publicidad {
	width: 20%;
	float:inline-end;
	
	
}
.Contenido{
    width: 40%;
    float: left;
}


.Publicidad1{
    width: 20%;
    float: right;
}



body > footer {
	width: 100%;
	clear: left;
}


