
/**{
    border-width: 2px;
    border-color: red;
    border-style: solid;
    margin: 0.5%;
} */
html{
    margin:0 auto ;
    width: 40%;
    max-width: 1610px;
    min-width:1000px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1120px;
}

body > header {
	margin: 10px;
	width: 100%;
    overflow: hidden;
    width: 950px;
}

body > nav {
	width: 20%;
	float: left;
}


aside.Publicidad {
	width: 20%;
    float:left;	
    
	margin: 0 0 0 0.5%;
}
#Contenido{
    width: 55%;
    float: left;    
	margin: 0 2% 0 2%;
}


aside.Publicidad1{
    width: 20%;
    float: left;
}

 footer {
	width: 100%;
	clear: left;
}
nav.Publicidad ul {
    border: ipx solid;
  
}
section#Contenido iframe{
    width: 90%;
    height:290px;
}
section#Contenido img{
    width: 550px;
}


